body {
  font-family: Helvetica;
}
#mapid{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #666 url("../img/transparent-pattern.png");
}
#layersMenu{
  position: absolute;
  top: 12px;
  left: 50px;
  z-index: 1000;
}
#searchBar{
  width: 300px;
  padding: 10px;
  border: 1px #333;
  font-size: 18px;
}
.arrowButton{
  position: relative;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: #000;
}
.arrowGo{
  top: 4px;
  right: 41px;
}
.arrowHide{
  top: 9px;
  font-size: 18px;
}
#queryList{
  max-height: 75vh;
  overflow-y: auto;
}
#queryList li{
  position: relative;
  padding: 12px;
  right: -42px;
  width: 276px;
  background: rgba(255, 255, 255, 0.7);
  list-style-type: none;
}
#queryList li.child{
  position: relative;
  padding-left: 26px;
  right: -42px;
  width: 262px;
  background: rgba(255, 255, 255, 0.7);
  list-style-type: none;
}
a:active{
  color: #555;
}
.eye{
  display: inline-block;
  width: 20px;
  height: 20px;
  float: right;
  padding: 0;
}
.eyeClosed{
  background: url(../img/eyeclosed.png);
  background-position: center;
  background-size: 20px 15px;
  background-repeat: no-repeat;
}
.eyeOpened{
  background: url(../img/eye.svg);
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
#searchForm a:link{
  color: #000;
}
#sidebar{
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  overflow-x: hidden;
  overflow-y: auto;
}
#sidebar .arrowHide{
  height: 100%;
  background: #CCC;
}
#sidebar.horizTranslate{
  transition: 3s;
  transform: translateX(500px);
}
#logo{
  position: absolute;
  left: 12px;
  bottom: 12px;
  text-decoration: none;
  text-align: center;
}
#logo img{
  width: 62px;
}
#logo p{
  color: #CCC;
  font-size: 10pt;
}
